RESTIC_REPOSITORY = C:\ludusavi-restic
# RESTIC_REPOSITORY = rclone:gdrive:ludusavi-restic
RESTIC_PASSWORD = password123
# RESTIC_PASSWORD_FILE = C:\restic\ludusavi.txt

# RESTIC_FULL_TAGS defaults to "Ludusavi"
# RESTIC_REG_TAGS defaults to "Registry"
# You can disable these by setting to ""
# Use a comma to separate multiple tags

# RESTIC_TAGS = Ludusavi
# RESTIC_FULL_TAGS = Ludusavi, Full Backup
# RESTIC_GAME_TAGS = 

# RESTIC_FILES_TAGS = Files
# RESTIC_REG_TAGS = Registry

# RCLONE_CONFIG_DIR = $UserProfile\scoop\persist\rclone
# RCLONE_CONFIG_PASS = 
