RESTIC_REPOSITORY = C:\ludusavi-restic
# RESTIC_REPOSITORY = rclone:gdrive:ludusavi-restic
RESTIC_PASSWORD = password123
# RESTIC_PASSWORD_FILE = C:\restic\ludusavi.txt

# RESTIC_FULL_TAGS defaults to "Ludusavi"
# You can disable this by setting it below to ""
# Use a comma to separate multiple tags

# RESTIC_TAGS = Ludusavi
# RESTIC_FULL_TAGS = Ludusavi, Full Backup
# RESTIC_GAME_TAGS = 

# LUDUSAVI_PATH = $UserProfile\scoop\apps\ludusavi\current\ludusavi.exe
# RESTIC_PATH = $UserProfile\scoop\apps\restic\current\restic.exe
# RCLONE_PATH = $UserProfile\scoop\apps\rclone\current\rclone.exe

# RCLONE_CONFIG_DIR = $UserProfile\scoop\persist\rclone
# RCLONE_CONFIG_PASS = 
